.formContainer {

    display: flex;
    flex-direction:column;
    margin:5% 10% 5% 10%;
    padding: 10px 10px 10px 10px;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    box-sizing: content-box;
    width: 30%;
}
.text-container{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding: 10% 15% 10% 15%;


}
.form-input {
    margin: 15px;

}
.input-field{
    box-sizing: border-box;
    border: 1px solid lightgray;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    width: 100% !important;
    max-width: none !important;

}
.error{
    color: purple;
    font-size: 10px;
}


