:root {
    --primary:#ffffff;
    --warning: #ffd028;
    --danger: #eb3f27;
    --success: #75fa83;
    --purple: #800080;
    --dark: #181717;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;



}

.btn:hover {

    background-color: var(--purple);
    color: white;
}

/* Button Styles */

.btn--primary--outline {
    background-color: var(--primary);
    color: var(--purple);
    border: 1px solid;
    borderline: var(--purple);

}

.btn--primary--solid {
    background-color: var(--purple);
    color: var(--primary);
    border: 1px solid;
    borderline: none;

}
.btn--primary--solid:hover{
    background-color: var(--primary);
    color: var(--purple);

}

    /* Button Sizes */


.btn--small {
    font-size: 20px;
    padding: 10px;
}
.btn--large {
    font-size: 30px;
    padding: 20px;
}

