.dashboard2-container {
    display:flex;
    flex-direction: column;
    margin: 0;

}

.row{
    display: flex;
    margin: 0;
    flex-grow: 1;
    padding: 20px;
}

.column1 {
    flex: 30%;
    margin: 0;
    flex-grow: 1;
}
.column2 {
    flex: 70%;
    margin: 0;
    flex-grow: 1;

}

.card-container {
    padding:0.01em 16px;
    margin-top:16px;margin-bottom:16px
}

.card-1 {box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

.card-container .light-grey {
    color:#000;
    background-color:#f1f1f1;
}