* { box-sizing: border-box; }
.left {
    display: flex;
    order: -1;
    flex: 30%;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
    align-items: center;
    background-color: #FFFFFF;
    color: #4F4F4F;
    min-width: 0;


}
.left h3{
    color: #808080;
}

.left button {
    margin-top: 50px;
}

.myContainer{
    display: flex;
    margin-top: 5%;
    min-width: 0;

}

@media (max-width: 800px) {
    .left{
        padding: 0;
    }

}