.logo {
    background-color: #FFFFFF;
    grid-area: logo;
    padding: 5px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: #2EC4B6;
    justify-content: center;
    align-items: center;


}
img{
    height: 80%;
}