.logo {
    background-color: #FFFFFF;
    grid-area: logo;

    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: #006600;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;

}

.logo-image {
    height: 100px;

}

@media (max-width: 800px) {
    .logo {

        padding-left: 0;
    }

}