.header-navbar {
    background-color: #FFFFFF;
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 200px;

}



/*adding shadow to nav sign in button*/
.header-navbar button {
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.5),
            0 2px 2px rgba(0,0,0,0.3),
            0 0 4px 1px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.15);
    transition: all 0.3s ease-out;
}

@media (max-width: 800px) {
    .header-navbar {
        padding-right: 0px;


    }

}