.nav-header {
    background-color: #FFFFFF;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 200px;


}
/*adding shadow to nav sing in button*/
.nav-header button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}