@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {

  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 5fr 1fr / 2fr 5fr;
  grid-template-areas:
  "logo header"
   "nav content"
  "footer footer";

}





.content {
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  grid-area: content;
  background-image: url("contentBackground.svg");
  background-repeat: no-repeat;
  background-size:     cover;


}

.footer {
  background-color: #FBFCFC;
  grid-area: footer;

}
* {
  outline: none;
}


/*styling for links*/
a:link, a:visited, a:hover, a:active, a:focus{
  text-decoration: none;

}
